<div class="container">

    <div class="card mt-5">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title">Responses to post:</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

            <div class="media mt-3">
                <img class="mr-3" src="<%= @question.gravatar %>"/>

                <!-- <img src="https://picsum.photos/150?image=0" class="mr-3 mb-3" alt="..."> -->
                <div class="media-body">
                    <h5 class="mt-0">
                        <%= @question.email %> said:</h5>
                    <div class="container">
                        <h6>
                            <%= time_ago_in_words @question.created_at %>
                        </h6>
                        <%= @question.body %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <a href="/questions/12" class="btn btn-success btn-xs" data-toggle="modal" data-target="#new-answer-modal">Post a Comment</a>
    </div>

    <%= render 'home/new_answer_form' %>

    <!-- ANSWERS -->

    <%= @question.answers.each do |answer| %>
    <div class="media mt-3">
            <img class="mr-3" src="<%= answer.gravatar %>"/>
        <div class="media-body">
            <h5 class="mt-0"><%= answer.email %> responded:</h5>
            <%= answer.body %>
        </div>
    </div>
    <% end %>

    <% if @question.answers.empty? %>
        <div class="alert alert-info">No comments here. Add one!</div>
    <% end %>

</div>